<table>
  <tr>
    <th>Name</th>
    <th>Year Completed</th>
  </tr>
  <tr>
    <td><%= @landmark.name %></td>
    <td><%= @landmark.year_completed %></td>
  </tr>
<table>


<form action='/landmarks/<%= @landmark.id %>' method='post'>
<input type='hidden' name='_method' value='delete'/> 
    <input type='submit' value='DELETE the Landmark'/>
</form>
<a href='/landmarks/<%= @landmark.id %>/edit'>
<button>EDIT the LANDMARK</button> 
</a>