<form action='/figures' method='post'>
    <label>Name:</label>
    <input type='text' name='figure[name]' id='figure_name'/>
    <br><br>
    <label>Titles:</label>
    <br><br>
      <% @titles.each do |title| %>
        <input type="checkbox" name="figure[title_ids][]" value="<%=title.id%>"> <%=title.name%> <br>
    <% end %>
    <br><br>
    <label>Create New Title:</label>
    <input type='text' name='title[name]'/>
    <br><br>
    <label>Landmarks:</label>
    <br><br>
    <% @landmarks.each do |landmark| %>
        <input type="checkbox" name="figure[landmark_ids][]" value="<%=landmark.id%>"> <%=landmark.name%> <br>
    <% end %>
    <br><br>
    <label>Create New Landmark:</label>
    <br><br>
    Name: <input type='text' name='landmark[name]'/>
    Year: <input type='text' name='landmark[year_completed]'/>
    <input type='submit' value='Create Figure'/>
    
</form>